<!doctype html>
 <link rel="stylesheet" href="/stylesheets/userList.css" />

<html lang="en">
<%- include('../partials/headfile'); %>
  
  <body>
    <%- include('../partials/navbar'); %>

    <div class="container">
        <a href="/adminRoute/userCreate" class="btn btn-primary">Create</a>
        <table class="table table-bordered" id="userTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <% for (var i=0; i<users.length; i++)  {%>
                <tr>
                    <td><%=users[i].username%></td>
                    <td><%=users[i].role%></td>
                    <td>
                        <a href="/adminRoute/userUpdate?id=<%=users[i]._id%>" class="btn btn-primary">Update</a>
                        <a href="/adminRoute/userDelete?id=<%=users[i]._id%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>

    <%- include('../partials/scripts'); %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#userTable').DataTable();
        })
    </script>

  </body>
</html>
