<!DOCTYPE html>
<html lang="en">
   <link rel="stylesheet" href="/stylesheets/userEdit.css" />
  <head>
    <%- include('../partials/headfile') %>
  </head>
  <%- include('../partials/navbar') %>
  <h1> Update User Test</h1>
  <body>
    <form action="/adminRoute/userUpdate?id=<%=user._id%>" method="POST">    
      <label for="username">username:</label>
      <input type="username" id="username" name="username" value="<%= user.username %>" required><br>

      <label for="password">Password:</label>
      <label class="switch">
        <input type="checkbox" id="passwordSwitch">
        <span class="slider round"></span>
      </label>
      <input type="password" id="passwordInput" name="password" disabled required><br>
      <input type="hidden" name="updatePassword" value=false>

      <label for="role">Role:</label>
 <select id="role" name="role" required>
        <option value="DataEntry" <%= user.role === 'DataEntry' ? 'selected' : '' %>>Data Entry</option>
        <option value="Admin" <%= user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
        <option value="QualityControl" <%= user.role === 'QualityControl' ? 'selected' : '' %>>Quality Control</option>
        <option value="" disabled <%= user.role === '' ? 'selected' : '' %> >Select a role</option>
      </select><br>
      
      <input type="hidden" name="id" value="<%= user._id %>">
      <button type="submit">Update User</button>
    </form>

    <style>
      #role option:disabled {
        color: #999;
      }
    </style>

    <script>
      const passwordSwitch = document.getElementById("passwordSwitch");
      const passwordInput = document.getElementById("passwordInput");

      passwordSwitch.addEventListener("change", () => {
        passwordInput.disabled = !passwordInput.disabled;
        updatePassword = true;
      });
    </script>
  </body>
</html>
