<!doctype html>
<html lang="en">
<%- include('../partials/headfile'); %>
   <link rel="stylesheet" href="/stylesheets/botEdit.css" />
  <body>
    <%- include('../partials/navbar'); %>

<h1>Updating: <bold><%=bot_name %></bold></h1>
<div class="container">
<div class="row">
  <div class="col-4">
    <form method="post" action="/deRoute/botUpdate">
      <input type="hidden" value="<%=_id%>" name="id" />
      <div class="form-group">
        <label for="combat_lv">Combat Level:</label>
        <input type="text" class="form-control" name="combat_lv" id="combat_lv" placeholder="Enter Combat Level" required maxLength="3" value="<%=combat_lv %>">
      </div>
      <div class="form-group">
        <label for="comments">Comments:</label>
        <input type="text" class="form-control" name="comments" id="comments" placeholder="Enter Any Comments"  maxLength="80" value="<%=comments %>">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>

</div>

    <%- include('../partials/scripts'); %>


  </body>
</html>