
<!doctype html>
<html lang="en">
<%- include('../partials/headfile'); %>
<link rel="stylesheet" href="/stylesheets/patientList.css" />
  <body>
    <%- include('../partials/navbar'); %>
<div class="container">
  <!-- <a href="/deDashboard/patientCreate" class="btn btn-primary">Create</a> -->
  <a href="/qcDashboard" class="btn btn-primary">Recent Kills</a>
  <a href="/deDashboard/topWorlds" class="btn btn-primary">Top Worlds</a>
  <!-- <a href="/deDashboard/exportCsv" class="btn btn-primary">Export CSV</a> -->
  <!-- <a href="/deDashboard/exportExcel" class="btn btn-primary">Export Excel</a> -->
  <h1>Bot Database</h1>
        <table class="table table-striped table-dark table-hover" id="patientTable">
          <thead>
            <tr>
              <th>Bot Name</th>
              <th>Combat Level</th>
              <th>Comments</th>
              <th>Worlds</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < patients.length; i++) { %>
              <tr>
                <td><%= patients[i].bot_name %></td>
                <td><%= patients[i].combat_lv %></td>
                <td><%= patients[i].comments %></td>
                <td>
                  <a href="/deDashboard/botKills?id=<%= patients[i]._id %>" class="btn btn-primary">Kills</a>
                  <!-- <a href="/deDashboard/patientDelete?id=<%= patients[i]._id %>" class="btn btn-danger">Delete</a> -->
                </td>
                <td>
                  <a href="/deDashboard/patientUpdate?id=<%= patients[i]._id %>" class="btn btn-primary">Edit</a>
                  <!-- <a href="/deDashboard/patientDelete?id=<%= patients[i]._id %>" class="btn btn-danger">Delete</a> -->
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
</div>


    <%- include('../partials/scripts'); %>
      <script type="text/javascript">
        $(document).ready(function() {
          $('#patientTable').DataTable();
        })
      </script>
      
  </body>
</html>