<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headfile'); %>
<link rel="stylesheet" href="/stylesheets/patientList.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Hunting Data</title>
    <style>
         body {
            text-align: center; /* Center the inline-block container */
        }
        table {
            width: auto; /* Makes the width of the table adjust to the content */
            border-collapse: collapse;
            margin: 0 auto; /* Center the table horizontally, if needed */
            table-layout: auto; /* Table layout is based on content */
        }
        th, td {
            border: 1px solid #0d0c0c;
            padding: 8px;
            text-align: left;
            white-space: nowrap; /* Prevents text from wrapping and keeps the column width based on content */
        }
        th {
            background-color: #7d7d7d;
        }
        .table-container {
            display: inline-block; /* Container width is based on table width */
            margin: 20px auto; /* Optional margin for spacing */
        }
    </style>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <a href="/deDashboard/patientList" class="btn btn-primary">All Bots</a>
    <a href="/deDashboard/topWorlds" class="btn btn-primary">World Kills</a>
    <a href="/qcDashboard" class="btn btn-primary">Recent Kills</a>
    <h1>Top 20 Worlds</h1>
    <!-- Optional container around the table to control width better -->
    <div class="table-container">
        <table class="table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th>World</th>
                    <th>Visits</th>
                    <th>Visitors within the week</th>
                </tr>
            </thead>
            <tbody id="botTableBody">
                <% function findBotsByWorld(worldId) { 
                    const matchingEntry = botsPerWorld.find(world => world._id === worldId);
                    return matchingEntry ? matchingEntry.bot_names.join(', ') : 'No bots found';
                } %>
            
                <% for (var i = 0; i < commonlyVisitedWorlds.length; i++) { %>
                    <tr>
                        <td><%= commonlyVisitedWorlds[i]._id %></td>
                        <td><%= commonlyVisitedWorlds[i].count %></td>
                        <td>
                            <%= findBotsByWorld(commonlyVisitedWorlds[i]._id) %> 
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
